// @mixin screen($breakpoint) {
//     @if $breakpoint == phone {
//         @media only screen and (max-width: 37.5em) { @content }; //600px
//     }
//     @if $breakpoint == tabPort {
//         @media only screen and (max-width: 56.25em) { @content }; //900px
//     }
//     @if $breakpoint == tabLand {
//         @media only screen and (max-width: 75em) { @content }; //1200px
//     }
//     @if $breakpoint == bigDesktop {
//         @media only screen and (min-width: 112.5em) { @content }; //1800px
//     }
// }

@mixin screen($breakpoint) {
    @if $breakpoint == ipad {
        @media only screen and (min-width: $breakpoint-ipad) { @content };
    }

    @if $breakpoint == desktop {
        @media only screen and (min-width: $breakpoint-desktop) { @content };
    }

    @if $breakpoint == phone {
        @media only screen and (max-width: $breakpoint-mobile) { @content };
    }


}