//Colors

$white: #FFFFFF;
$grey-1: #7b7b7b;
$grey-2:#484646;
$black: #000000;
$light-blue: #EAF4FB;
$dark-blue: #293341;
$green: #76AC2f;
$red: #FF1D1D;

//Backgrounds

$background-1: rgba($dark-blue, 0.92);
$background-2: rgba($grey-2, 0.59);

//sizes
$breakpoint-mobile: 768px;
$breakpoint-ipad: 768px;
$breakpoint-mid: 1024px;
$breakpoint-desktop: 1200px;

