
.card-categories{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card {
    width: 25%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;


        h1 {
            color: $white;
            text-transform: uppercase;
            letter-spacing: 6px;

            &::after {
                content: "";
                display: block;
                width: 100px;
                border-bottom: .5rem solid $white;
                margin: 0 auto;
            }
        }
        
        h2 {
            color: $white;
            text-transform: uppercase;
            padding-top: 2rem;
        }

}

.card-1 {
    width: 25%;
    background-image: url('../../public/card-1.png');
    height: 605px;

    &:hover {
        background-image: url('../../public/blur-card1.png');
        transition: all .7s;
    }
}

.card-2 {
    width: 25%;
    background-image: url('../../public/card-2.png');
    height: 605px;

    &:hover {
        background-image: url('../../public/blur-card2.png');
        transition: all .7s;
    }
}

.card-3 {
    width: 25%;
    background-image: url('../../public/card-3.png');
    height: 605px;

    &:hover {
        background-image: url('../../public/blur-card3.png');
        transition: all .7s;
    }
}

.card-4 {
    width: 25%;
    background-image: url('../../public/card-4.png');
    height: 605px;
    

    &:hover {
        background-image: url('../../public/blur-card4.png');
        transition: all .7s;
    }
}