.footer {
    background-color: $light-blue;
    width: 100%;
    height: 460px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 43px 31px 50px 54px;

    &__icon {
        color: $grey-1;
    }

    &__container {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        margin-bottom: 24px;

        h3 {
            font-size: 24px;
            margin: 0;
        }

        p {
            font-size: 24px;
            color: $grey-1;
        }

        &__items {
            flex: 0 0 calc(33.33% - 0rem);
            display: flex;
            flex-direction: column;
            h2:not(.v) {
                font-size: 40px;
                font-weight: 400;
                margin: 0 0 24px 0;
            }

            &--contact {
                display: flex;
                align-items: center;
                margin: 0 0 24px 0;

                a{
                    font-size: 24px;
                    color: $grey-1;
                    text-decoration: none;
                }
                
                address {
                    font-size: 24px;
                    color: $grey-1;
                    text-decoration: none;
                    line-height: 1.2;
                }

                &-icon {
                    font-size: 39px;
                    margin-right: 26px;
                }

                &:last-of-type {
                    margin: 0;
                }

                
            }

            &--categories {
                ul {
                    list-style: none;
                    padding: 0;

                    li a {
                        font-style: normal;
                        font-weight: 400;
                        font-size: 24px;
                        color: $grey-1;
                        text-decoration: none;
                    }
                }
            }

            form {
                position: relative;
                width: 492px;
                height: 88px;

                .btn__footer {
                    position: absolute;
                    right: 2%;
                    top: 10%;
                    bottom: 0;
                    width: 214px;
                    height: 68px;
                    border-radius: 0;
                }

                input {
                    display: block;
                    width: 492px;
                    height: 88px;
                    background-color: transparent;
                    border: 1px solid $grey-1;
                    font-size: 24px;
                }

                #name {
                    padding: 25px;
                }
                
            }

            &:nth-child(1) {
                margin-top: 9px;
            }

            &--text-form {
                line-height: 1.2;
                margin-top: 25px;
                margin-bottom: 41px;
            }

            
        }
        
        
    }

    &__icons {
        margin-top: 30px;

        &--icon {
            cursor: pointer;
            font-size: 28px;
            margin-right: 27px;
        }
    }

}

@include screen(phone){
    .footer {
        padding: 0;
        height: auto;

        h2:not(.v) {
            text-align: center;
        }

        &__container {
            flex-direction: column;

            
            h3 {
                font-size: 18px;
                margin: 0;
            }

            p {
                font-size: 16px;
            }


            form {
                width: 345px;
                height: 50px;

                .btn__footer {
                    font-size: 18px;
                    width: 120px;
                    height: 35px;
                    top: 16%;
                }

                input {
                    width: 350px;
                    height: 50px;
                    font-size: 16px;
                }

                #name {
                    padding: 25px;
                }
                
            }

            &__items {
                width: 100%;
                margin-bottom: 20px;

                &--categories {
                    ul {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: flex-start;
    
                        li {
                            flex: 0 0 calc(36% - 1rem);

                            a {
                                font-style: normal;
                                font-weight: 400;
                                font-size: 16px;
                                color: $grey-1;
                                text-decoration: none;
                            }

                        }
                    }
                }

                &--contact {
                    display: flex;
                    align-items: center;
                    margin: 0 0 24px 0;
    
                    a{
                        font-size: 16px;
                        color: $grey-1;
                        text-decoration: none;
                    }
                    
                    address {
                        font-size: 16px;
                        color: $grey-1;
                        text-decoration: none;
                        line-height: 1.2;
                    }
    
                    &-icon {
                        font-size: 24px;
                        margin-right: 26px;
                    }
    
                    &:last-of-type {
                        margin: 0;
                    }
    
                    
                }

                &--text-form {
                    line-height: 1.2;
                    margin-top: 16px;
                    margin-bottom: 18px;
                }
            }
        }
        
        &__icons {
            margin-top: 0;
            text-align: center;

            &--icon {
                font-size: 24px;

                &:nth-child(4){
                    margin-right: 0;
                }
            }
        }
    }

}


