.heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &-headline{
        color: $green;
        text-transform: uppercase;
        font-size: 7rem;

        @media (max-width: $breakpoint-mobile) {
            line-height: 1.2;
            text-align: center;
            font-size: 5rem;
        }
    }

}

