.navbar {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    height: 10vh;
    position: relative;

    nav {
        display: flex;
        justify-content: space-around;
        width: 24rem;
    }

    @media (min-width: $breakpoint-ipad) {
        justify-content: space-between;
        align-items: center;
        padding: 0 50px;
    }

    @media (min-width: $breakpoint-desktop) {
        padding: 0 150px 0 100px;
    }
}