.navbar {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    height: 10vh;
    position: relative;

    &__nav {
        display: flex;
        justify-content: space-around;
        width: 24rem;
    }

    &__icons {
        cursor: pointer;
    }

    // @media (min-width: $breakpoint-ipad) {
    //     justify-content: space-between;
    //     align-items: center;
    //     padding: 0 50px;
    // }

    // @media (min-width: $breakpoint-desktop) {
    //     padding: 0 150px 0 100px;
    // }

    @include screen(ipad) {
        justify-content: space-between;
        align-items: center;
        padding: 0 50px;
    }

    @include screen(desktop) {
        padding: 0 150px 0 100px;
    }
}