.navbar {
    background-color:#EAF4FB;
    display: flex;
    flex-direction: row;
    height: 10vh;
    position: fixed;
    width: 100%;
    transition:all .3s;
    z-index: 9999;

    &__nav {
        display: flex;
        justify-content: space-around;
        gap: 2rem;
    }

    &__icons {
        cursor: pointer;
        font-size: 2rem;
    }

    &__title {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: initial;
        font-weight: 700;
        font-size: 2rem;
        color: $black;
        text-decoration: none;
        transition: all .5s;

        &__red {
            left: 0;
            justify-self: initial;
            color: red;
            font-size: 2.5rem;
            transition: all .5s;
        }
    }

    @include screen(ipad) {
        justify-content: space-between;
        align-items: center;
        padding: 0 50px;
    }

    @include screen(desktop) {
        padding: 0 80px 0 100px;
    }
}