html {
    box-sizing: border-box;
    font-size:  62.5%; /** 1rem = 10px */
}

* {
  margin: 0;
  padding:0;
}
  
*, *::before, *:after {
  box-sizing: inherit;
}
  
body {
  margin: 0;
  font-size: 1.6rem;
  line-height: 2;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  
}