.container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

.text-center {
  text-align: center;
}

.no-margin {
  margin: 0;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.btn {
  display: block;
  background-color: $green;
  border-radius: 10px;
  width: 407px;
  height: 132px;
  color: $white;
  font-size: 24px;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: #3b5617;
    border: 2px solid $green;
    transition: all .5s;
  }
}

.v {
  font-weight: 600;
  color: $red;
}

.padding-top-bottom {
  padding: 6rem 0;
}

.navbar-nav-scroll {
  background:$white !important;
  transition:all .3s;
}

.navbar-title-scroll {
  width: 0;
  opacity: 0;
  transition: all .1s;
}

.navbar-parent-scroll {
  justify-content: flex-end!important;
}

.navbar-v-scroll {
  font-size: 5rem!important;
  position:absolute;
  margin-left: 4rem;
  transition : all .5s;
}
 