//Abstracts
@import './abstracts/functions.scss';
@import './abstracts/mixins.scss';
@import './abstracts/variables.scss';

//Base
@import './base/animations.scss';
@import './base/base.scss';
@import './base/grid.scss';
@import './base/typography.scss';
@import './base/utilities.scss';

//Components
@import './components/hero';
@import './components/heading';
@import './components/card';
@import './components/navbar';
@import './components/paragraph';
@import './components/footer.scss';
@import './components/banner.scss';

//Pages
@import './pages/index.scss';
@import './pages/login.scss';
@import './pages/new-account.scss';
@import './pages/categories.scss';
@import './pages/id.scss';
@import './pages/category.scss';